@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap');


/* COLOR VARIABLES */
:root {
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --DarkGrayishCyan2: hsl(184, 14%, 56%);
  --lightGrayishCyan:  hsl(185, 41%, 84%);
  --lightGrayishCyan3: hsl(189, 41%, 97%);
  --strongCyan: hsl(172, 67%, 45%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--lightGrayishCyan);
  font-size: 13px;
  font-family: 'Space Mono', monospace;
}

/* DESKTOP DESIGN */
/* CONFIG DE POSICIONAMENTO E FONTES */ 
.forms-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  width: 40vw;
  background-color: white;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 10px;
  color: var(--darkGrayishCyan);
  font-weight: 700;
  box-shadow: inset;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.button-container > button {
  font-family: 'Space Mono', monospace;
  background-color: var(--veryDarkCyan);
  color: white;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
}

.button-container > button:nth-child(4), .button-container > button:nth-child(5), .button-container > input {
  margin-bottom: 20px;
}

.button-container > input {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  width: 98%;
  text-align: center;
  background-color: white;
  border-width: 0px;
}

.button-container > input::placeholder {
  font-family: 'Space Mono';
  color: hsl(189, 41%, 50%);
  font-size: 16px;
  text-align: center;
}

button.active {
  background-color: var(--strongCyan);
  color: var(--veryDarkCyan);
  font-weight: 700;
}

.options-container > input {
  margin: 20px;
  width: 90%;
  margin-left: 10px;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  text-align: right;
  border-width: 0px;
  font-weight: 700;
  color: var(--veryDarkCyan);
}

.options-container > input:nth-child(2) {
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.options-container > input:nth-child(6) {
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.result-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 60px);
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: var(--veryDarkCyan);
}

.result-container > p:nth-child(1), .result-container > p:nth-child(4) {
  color: white;
}

.result-container > p:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / 2;
}

.result-container > p:nth-child(2) {
  grid-column: 1;
  grid-row: 1 / 3;
  font-size: 10px;
}

.result-container > p:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 1.5rem;
  color: var(--strongCyan);
}

.result-container > p:nth-child(4) {
  grid-column: 1;
  grid-row: 2 / 4;
}

.result-container > p:nth-child(5) {
  grid-column: 1;
  grid-row: 3 / 4;
  font-size: 10px;
}

.result-container > p:nth-child(6) {
  grid-column: 2;
  grid-row: 1 / 5;
  font-size: 1.5rem;
  color: var(--strongCyan);
}

.result-container > button {
  grid-column: 1 / 2;
}


.result-container > button {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: var(--veryDarkCyan);
  background-color: var(--strongCyan);
  font-size: 20px;
  grid-column: 1 / 3;
  width: 90%;
  border-radius: 5px;
  border-width: 0px;
  height: 35px;
  cursor: pointer;
} 

.reset-button.inactive {
  background-color: hsl(186, 40%, 43%);
}

/* MOBILE DESIGN */
@media (max-width: 900px) {

  body img {
    margin-top: 150px;
    margin-bottom: 50px;
  }

.forms-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0px;
  }

  .button-container {
    width: 100%;
  }
  .options-container > input {
    width:max-content;
  }
}